<aside th:fragment="sidebar" class="w-64 bg-gray-50 min-h-screen p-4 border-r border-gray-200">    <nav>
        <ul class="space-y-2">
            <li>
                <a href="/portfolios" class="flex items-center p-2 text-gray-700 hover:bg-purple-50 rounded">
                    <i class="ri-folder-line mr-2"></i> 포트폴리오 관리
                </a>
            </li>
<!--            <li>-->
<!--                <a href="#" class="flex items-center p-2 text-gray-700 hover:bg-purple-50 rounded" style="pointer-events: none;">-->
<!--                    &lt;!&ndash;                        <i class="ri-group-line mr-2"></i> &ndash;&gt;-->
<!--                    <i class="ri-hourglass-fill"></i>-->
<!--                    피어리뷰-->
<!--                </a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a href="#" class="flex items-center p-2 text-gray-700 hover:bg-purple-50 rounded" style="pointer-events: none;">-->
<!--                    &lt;!&ndash;                        <i class="ri-stack-line mr-2"></i> &ndash;&gt;-->
<!--                    <i class="ri-hourglass-fill"></i>-->
<!--                    프로젝트 관리-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </nav>
</aside>